@model List<Bloggie.Web.Models.Domain.Feedback>
@{
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Feedback - Admin Functionality</h1>
    </div>
</div>

<div class="container  py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>Mesazhi</th>
                    <th>UserId</th>
                    <th>Username</th>
                    <th>Data</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var feedback in Model)
                {
                    <tr>
                        <td>@feedback.Id</td>
                        <td>@feedback.Mesazhi</td>
                        <td>@feedback.UserId</td>
                        <td>@feedback.Username</td>
                        <td>@feedback.DateAdded</td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No feedback found!</p>
    }

</div>